# Исключить виртуальное окружение
venv/
env/
.venv/
.env/
.vs/

# Файлы кэша Python
__pycache__/
*.pyc

# Логи
*.log

# Конфиденциальные файлы с настройками (если есть)
.env

# Файлы IDE
.idea/

# Другие временные файлы
*.sqlite3
*.db